body {
  font-family: "Montserrat", sans-serif;
}

.container {
  height: 420px;
  max-width: 650px;
  width: 90%;
  background-color: rgb(22, 22, 22);
  border-radius: 12px;
  transform: translate(-0%, 48%);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(145, 145, 145);
}

.head {
  font-size: 25px;
  max-width: 610px;
  transform: translate(-0%, -120%);
  margin-top: 42px;
  color: white;
  text-align: center;
  font-weight: 700;
}

.joke {
  height: 160px;
  max-width: 610px;
  color: white;
  font-size: 19px;
  transform: translate(0%, -6%);
  background-color: rgb(91, 91, 91);
  border-radius: 8px;
  padding: 18px;
  font-weight: 400;
}

button {
  height: 50px;
  width: 150px;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 500;
  font-size: 19px;
  transform: translate(122%, 38%);
}
