body {
  font-family: "Montserrat", sans-serif;
}

.container {
  height: 420px;
  max-width: 680px;
  width: 100%;
  background-color: rgb(10, 10, 10);
  border-radius: 12px;
  transform: translate(0%, 4%);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(37, 37, 37);
}

.head {
  font-size: 20px;
  max-width: 610px;
  margin-top: -25px;
  color: white;
  text-align: center;
  font-weight: 500;
}

.joke {
  height: 190px;
  max-width: 610px;
  color: rgb(151, 151, 151);
  font-size: 17px;
  margin-top: 1.8rem;
  background-color: rgb(20, 20, 20);
  border: 1px solid rgb(37, 37, 37);
  border-radius: 8px;
  padding: 18px;
  font-weight: 500;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  height: 2.5rem;
  width: 12rem;
  font-size: 16px;
  margin-top: 1.9rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #6700ab;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  position: relative;
  overflow: hidden;
}

.btn:hover {
  background-color: #4c0075;
}

.twitter-icon {
  width: 14px;
  height: 14px;
  margin-right: 8px;
}
