body {
  background-color: black;
  overflow-x: hidden;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(8%, -4%);
  width: 600px;
}

.head-container {
  height: 70px;
  width: 600px;
  margin-left: 50px;
}

.login-button {
  height: 54px;
  width: 520px;
  background-color: blueviolet;
  margin-top: 18px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
  transform: translate(-43%, 22%);
}

.login-button:hover {
  background-color: rgb(162, 94, 226);
}

.olw {
  color: white;
  font-size: 17px;
  margin-top: 28px;
}

.sign {
  color: white;
  font-size: 17px;
  margin-top: 22px;
  display: block;
  width: 330px;
}

.registerLink {
  color: rgb(127, 0, 201);
  text-decoration: underline;
}
