body {
  background-color: black;
  overflow-x: hidden;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(8%, -4%);
}

.login {
  color: white;
  margin-left: -10px;
  display: block;
  width: 340px;
  margin-top: 22px;
  font-size: 17px;
}

.login-link {
  color: rgb(178, 0, 227);
  text-decoration: underline;
}

.sign-button {
  height: 54px;
  width: 520px;
  background-color: blueviolet;
  margin-top: 26px;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  transform: translate(-27%, 22%);
}

.sign-button:hover {
  background-color: rgb(165, 93, 232);
}

.or {
  color: white;
  transform: translate(-40%, 1%);
  margin-top: 24px;
}

.logo-img {
  margin-left: 138px;
}

button {
  margin-left: 198px;
}
